<Layouts.flash_group flash={@flash} />
<div class="px-4 py-10 sm:px-6 sm:py-28 lg:px-8 xl:px-28 xl:py-32">
  <div class="mx-auto max-w-2xl text-center">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      Welcome to Battleship Interface
    </h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">
      This is a web interface for the classic game of Battleship. You can play
      against the computer or against a friend. Enjoy!
    </p>
  </div>
  <div
    class="mx-auto mt-10 max-w-2xl sm:flex sm:justify-center lg:mx-0"
  >
  <.form for={%{}} action={~p"/game"} method="get">
  <input type="text" name="name" placeholder="Enter your name" />
  <button type="submit">New Game</button>
</.form>
  </div>
</div>
